* {
    box-sizing: border-box;
}
body{
    background-color: rgba(114, 36, 0, 0.836);
    margin: 0 auto;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.img-poster{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:solid black
}
.wrapee{
    padding-top: 29px;
    background-color:#ad5b5ba2
}
.img-poster:hover{
    transform:scale(1.1)rotate(10deg)
}
h1 {
    background-color: rgba(82, 45, 0, 0.733);
    display: table;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}
h1:hover{
    transform:scale(1.1);
}
a{
    text-decoration: none;
    color: plum;
}
header {
    align-content: center;
    background-position: 20% 50%;
    padding-top: 45px;
    height: 210px;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_640.jpg");
    background-size:contain;
    border-image-outset: 10px;
    background-attachment: fixed;
    background-position: center;}
header:hover{
    transform:scale(1.014)
}
.card {
    flex-basis: 25%;
    padding: 45px;
    border-bottom: 5px solid #e7c4c4;
    border-radius: 11%;
    text-align: center;
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    max-width: 1943px;
    justify-content: space-around;
}
.wrapp{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


div:hover {
    transform: scale(1.048)
}
div{
    min-height: 45px;
    background-color: #d87d3285;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
    justify-content: space-between;
}
img{
    width:50px;
    height:60px;
}
footer {
    text-align: center;
    padding: 20px;
}