* {
    box-sizing: border-box;
}
body{
    background-color: rgba(114, 36, 0, 0.836);
    margin: 0 auto;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.img-poster{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:solid black
}
.wrapee{flex-basis: 25%;
    border-bottom: 5px solid #e7c4c4;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    max-width: 800px;
    justify-content: space-around;
    padding-top: 29px;
    margin-left: 600px;
    background-color:#ad5b5ba2
}
.img-poster:hover{
    transform:scale(1.1)rotate(10deg)
}
h1 {
    background-color: rgba(82, 45, 0, 0.733);
    display: table;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}
h1:hover{
    transform:scale(1.1);
}
a{
    text-decoration: none;
    color: plum;
}
header {
    align-content: center;
    background-position: 20% 50%;
    padding-top: 45px;
    height: 210px;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736875_640.jpg");
    background-size:cover;
    border-image-outset: 10px;
    background-attachment: fixed;
    background-position: center;}
header:hover{
    transform:scale(1.014)
}
.wrapp {
    flex-basis: 25%;
    padding: 45px;
    border-bottom: 5px solid #e7c4c4;
    border-radius: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    max-width: 550px;
    margin-left: 290px;
    margin-top: 109px;
    align-content: space-around;
    background-color: #83346094;
}


div:hover {
    transform: scale(1.048)
}
img{
    width:50px;
    height:60px;
}
footer {
    text-align: center;
    margin: 80px;
    padding: 20px;
}